In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("inforchampion2.csv")
print(df)

    ID      Name      Role  Health  Attack  Defense  Attack Speed
0    1    AATROX   Fighter     650      60       38         0.651
1    2    DARIUS   Fighter     652      64       39         0.625
2    3    ILLAOI   Fighter     656      68       35         0.625
3    4     MUNDO   Fighter     613      61       32         0.670
4    5   SHYVANA   Fighter     665      66       38         0.658
5    6  APHELIOS  Marksman     580      55       26         0.640
6    7    EZREAL  Marksman     600      62       24         0.625
7    8  TRISTANA  Marksman     670      59       26         0.656
8    9      JINX  Marksman     630      59       26         0.625
9   10      JHIN  Marksman     655      59       24         0.625
10  11      SION      Tank     655      68       32         0.679
11  12  MALPHITE      Tank     644      62       37         0.736
12  13  NAUTILUS      Tank     646      61       39         0.706
13  14      ORNN      Tank     660      69       35         0.625
14  15   SEJUANI      Tank     630      66       34         0.688
15  16     VIEGO  Assassin     630      57       34         0.658
16  17    RENGAR  Assassin     620      68       34         0.667
17  18   NAAFIRI  Assassin     650      57       32         0.663
18  19     SHACO  Assassin     630      63       30         0.694
19  20     TALON  Assassin     658      68       30         0.625
20  21    RUMBLE      Mage     625      61       36         0.644
21  22    XERATH      Mage     596      55       22         0.625
22  23     ZIGGS      Mage     606      54       22         0.656
23  24    VIKTOR      Mage     600      53       23         0.658
24  25      RYZE      Mage     645      58       22         0.625
25  26      SONA   Support     550      49       26         0.644
26  27    SORAKA   Support     605      50       32         0.625
27  28     YUUMI   Support     500      49       25         0.625
28  29    ZILEAN   Support     574      52       24         0.625
29  30      ZYRA   Support     574      53       29         0.625

In [3]:
df.head(10)

   ID      Name      Role  Health  Attack  Defense  Attack Speed
0   1    AATROX   Fighter     650      60       38         0.651
1   2    DARIUS   Fighter     652      64       39         0.625
2   3    ILLAOI   Fighter     656      68       35         0.625
3   4     MUNDO   Fighter     613      61       32         0.670
4   5   SHYVANA   Fighter     665      66       38         0.658
5   6  APHELIOS  Marksman     580      55       26         0.640
6   7    EZREAL  Marksman     600      62       24         0.625
7   8  TRISTANA  Marksman     670      59       26         0.656
8   9      JINX  Marksman     630      59       26         0.625
9  10      JHIN  Marksman     655      59       24         0.625

In [4]:
df.sum()

ID                                                            465
Name            AATROXDARIUSILLAOIMUNDOSHYVANAAPHELIOSEZREALTR...
Role            FighterFighterFighterFighterFighterMarksmanMar...
Health                                                      18669
Attack                                                       1786
Defense                                                       906
Attack Speed                                               19.493
dtype: object

In [5]:
df.describe

<bound method NDFrame.describe of     ID      Name      Role  Health  Attack  Defense  Attack Speed
0    1    AATROX   Fighter     650      60       38         0.651
1    2    DARIUS   Fighter     652      64       39         0.625
2    3    ILLAOI   Fighter     656      68       35         0.625
3    4     MUNDO   Fighter     613      61       32         0.670
4    5   SHYVANA   Fighter     665      66       38         0.658
5    6  APHELIOS  Marksman     580      55       26         0.640
6    7    EZREAL  Marksman     600      62       24         0.625
7    8  TRISTANA  Marksman     670      59       26         0.656
8    9      JINX  Marksman     630      59       26         0.625
9   10      JHIN  Marksman     655      59       24         0.625
10  11      SION      Tank     655      68       32         0.679
11  12  MALPHITE      Tank     644      62       37         0.736
12  13  NAUTILUS      Tank     646      61       39         0.706
13  14      ORNN      Tank     660      69       35         0.625
14  15   SEJUANI      Tank     630      66       34         0.688
15  16     VIEGO  Assassin     630      57       34         0.658
16  17    RENGAR  Assassin     620      68       34         0.667
17  18   NAAFIRI  Assassin     650      57       32         0.663
18  19     SHACO  Assassin     630      63       30         0.694
19  20     TALON  Assassin     658      68       30         0.625
20  21    RUMBLE      Mage     625      61       36         0.644
21  22    XERATH      Mage     596      55       22         0.625
22  23     ZIGGS      Mage     606      54       22         0.656
23  24    VIKTOR      Mage     600      53       23         0.658
24  25      RYZE      Mage     645      58       22         0.625
25  26      SONA   Support     550      49       26         0.644
26  27    SORAKA   Support     605      50       32         0.625
27  28     YUUMI   Support     500      49       25         0.625
28  29    ZILEAN   Support     574      52       24         0.625
29  30      ZYRA   Support     574      53       29         0.625>

In [6]:
df.shape

(30, 7)

In [7]:
df.loc[0]

ID                    1
Name             AATROX
Role            Fighter
Health              650
Attack               60
Defense              38
Attack Speed      0.651
Name: 0, dtype: object

In [8]:
df.iloc[0]

ID                    1
Name             AATROX
Role            Fighter
Health              650
Attack               60
Defense              38
Attack Speed      0.651
Name: 0, dtype: object

In [9]:
df.iloc[1]

ID                    2
Name             DARIUS
Role            Fighter
Health              652
Attack               64
Defense              39
Attack Speed      0.625
Name: 1, dtype: object

In [10]:
df.loc[1]

ID                    2
Name             DARIUS
Role            Fighter
Health              652
Attack               64
Defense              39
Attack Speed      0.625
Name: 1, dtype: object

In [6]:
df.loc[(df.Role == 'Fighter') & (df.Health > 650)]

   ID     Name     Role  Health  Attack  Defense  Attack Speed
1   2   DARIUS  Fighter     652      64       39         0.625
2   3   ILLAOI  Fighter     656      68       35         0.625
4   5  SHYVANA  Fighter     665      66       38         0.658

In [7]:
df.loc[2:5]

   ID      Name      Role  Health  Attack  Defense  Attack Speed
2   3    ILLAOI   Fighter     656      68       35         0.625
3   4     MUNDO   Fighter     613      61       32         0.670
4   5   SHYVANA   Fighter     665      66       38         0.658
5   6  APHELIOS  Marksman     580      55       26         0.640

In [8]:
df.loc[9:30]

    ID      Name      Role  Health  Attack  Defense  Attack Speed
9   10      JHIN  Marksman     655      59       24         0.625
10  11      SION      Tank     655      68       32         0.679
11  12  MALPHITE      Tank     644      62       37         0.736
12  13  NAUTILUS      Tank     646      61       39         0.706
13  14      ORNN      Tank     660      69       35         0.625
14  15   SEJUANI      Tank     630      66       34         0.688
15  16     VIEGO  Assassin     630      57       34         0.658
16  17    RENGAR  Assassin     620      68       34         0.667
17  18   NAAFIRI  Assassin     650      57       32         0.663
18  19     SHACO  Assassin     630      63       30         0.694
19  20     TALON  Assassin     658      68       30         0.625
20  21    RUMBLE      Mage     625      61       36         0.644
21  22    XERATH      Mage     596      55       22         0.625
22  23     ZIGGS      Mage     606      54       22         0.656
23  24    VIKTOR      Mage     600      53       23         0.658
24  25      RYZE      Mage     645      58       22         0.625
25  26      SONA   Support     550      49       26         0.644
26  27    SORAKA   Support     605      50       32         0.625
27  28     YUUMI   Support     500      49       25         0.625
28  29    ZILEAN   Support     574      52       24         0.625
29  30      ZYRA   Support     574      53       29         0.625

In [12]:
df.iloc[1: 5, 2: 5]

      Role  Health  Attack
1  Fighter     652      64
2  Fighter     656      68
3  Fighter     613      61
4  Fighter     665      66

In [14]:
df.iloc[:5]

   ID     Name     Role  Health  Attack  Defense  Attack Speed
0   1   AATROX  Fighter     650      60       38         0.651
1   2   DARIUS  Fighter     652      64       39         0.625
2   3   ILLAOI  Fighter     656      68       35         0.625
3   4    MUNDO  Fighter     613      61       32         0.670
4   5  SHYVANA  Fighter     665      66       38         0.658

In [15]:
df.loc[:5]

   ID      Name      Role  Health  Attack  Defense  Attack Speed
0   1    AATROX   Fighter     650      60       38         0.651
1   2    DARIUS   Fighter     652      64       39         0.625
2   3    ILLAOI   Fighter     656      68       35         0.625
3   4     MUNDO   Fighter     613      61       32         0.670
4   5   SHYVANA   Fighter     665      66       38         0.658
5   6  APHELIOS  Marksman     580      55       26         0.640

In [16]:
df.loc[0]

ID                    1
Name             AATROX
Role            Fighter
Health              650
Attack               60
Defense              38
Attack Speed      0.651
Name: 0, dtype: object

In [17]:
df.iloc[0]

ID                    1
Name             AATROX
Role            Fighter
Health              650
Attack               60
Defense              38
Attack Speed      0.651
Name: 0, dtype: object

In [18]:
df.loc[0:1]

   ID    Name     Role  Health  Attack  Defense  Attack Speed
0   1  AATROX  Fighter     650      60       38         0.651
1   2  DARIUS  Fighter     652      64       39         0.625

In [19]:
df.iloc[0:1]

   ID    Name     Role  Health  Attack  Defense  Attack Speed
0   1  AATROX  Fighter     650      60       38         0.651

In [20]:
df.iloc[13:14]

    ID  Name  Role  Health  Attack  Defense  Attack Speed
13  14  ORNN  Tank     660      69       35         0.625

In [22]:
df.loc[13:14]

    ID     Name  Role  Health  Attack  Defense  Attack Speed
13  14     ORNN  Tank     660      69       35         0.625
14  15  SEJUANI  Tank     630      66       34         0.688